.patternInfo {
  flex-basis: 50%;
  min-width: 200px;
  background-color: var(---jam-light);
  padding: 20px;
  background-origin: border-box;
}

.patternInfo + .patternInfo {
  margin-left: 10px;
}

.patternInfo h2 {
  margin-top: 0;
}
