.hint {
  margin: 5px 0;
  font-style: italic;
  color: gray;
}

.projects {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 170px;
  margin: 10px;
}

.project p {
  margin: 0;
}
