nav {
  width: 200px;
  flex-shrink: 0;
  background-color: var(--lavender-blush);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 0;
  transition: margin-left 250ms ease-in-out;
}

nav[data-is-visible='false'] {
  margin-left: -200px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
}

ul ul {
  padding-left: 20px;
  list-style-type: disc;
}

nav > ul > li + li {
  margin-top: 20px;
}

.delete {
  margin-left: 10px;
  color: var(--pictorial-carmine);
  cursor: pointer;
}
