nav {
  width: 200px;
  flex-shrink: 0;
  background-color: var(--light-gray);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 0;
  transition: margin-left 250ms ease-in-out;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: scroll;
  border-right: 1px solid var(--gunmetal-light);
}

nav[data-is-visible='false'] {
  margin-left: -200px;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
}

nav ul ul {
  padding-left: 20px;
  list-style-type: disc;
}

nav > ul > li + li {
  margin-top: 20px;
}

.delete {
  margin-left: 10px;
  color: var(--jam-dark);
  cursor: pointer;
}
