nav.menu {
  width: 200px;
  flex-shrink: 0;
  background-color: var(--light-gray);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 0;
  transition: margin-left 250ms ease-in-out;
  height: calc(100vh - 44px);
  position: sticky;
  top: 44px;
  overflow-y: auto;
  border-right: 1px solid var(--gunmetal-light);
}

nav[data-is-visible='false'] {
  margin-left: -200px;
}

nav h1 {
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
}

nav > ul > li + li {
  margin-top: 10px;
}

nav button {
  background-color: transparent;
  color: var(--jam-dark);
  text-decoration: underline;
  font-style: italic;
  padding: 0;
}
