.app {
  margin: 20px;
}

.app section {
  display: flex;
}

.app section > div {
  flex-basis: 50%;
}

.app section > div:first-child {
  margin-right: 10px;
}

.app section > div + div {
  margin-left: 10px;
}
