.header {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: var(--gunmetal-dark);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}

.header h1 {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  vertical-align: 4px;
  font-weight: normal;
}

.header p {
  margin: 0;
  vertical-align: top;
}

.menuToggle {
  display: inline-block;
  width: 20px;
  height: 19px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 10px;
}

.menuToggle span {
  display: block;
  width: 21px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  opacity: 1;
  transition: transform 250ms, opacity 250ms;
}

.menuToggle span + span {
  margin-top: 5px;
}

.menuToggle span:first-child {
  transform-origin: top left;
}

.menuToggle span:last-child {
  transform-origin: bottom left;
}

.menuToggle[data-is-menu-open='true'] span:first-child {
  transform: rotate(45deg);
}

.menuToggle[data-is-menu-open='true'] span:nth-child(2) {
  opacity: 0;
}

.menuToggle[data-is-menu-open='true'] span:last-child {
  transform: rotate(-45deg);
}
