:root {
  --light-gray: #faf9fa;

  --gunmetal-dark: #242f40;
  --gunmetal-medium: #6a717c;
  --gunmetal-light: #aeb2b7;

  --jam-dark: #9e0059;
  --jam-medium: #ba528d;
  --jam-light: #d6a2bf;

  --banana-light: #fbe8b2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
  color: var(--gunmetal-dark);
}

a,
a:visited,
a:visited:hover {
  color: var(--jam-dark);
}

button {
  background-color: var(--jam-dark);
  color: white;
  border: none;
  padding: 7px 9px;
  margin: 0 2px;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
